<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
  <link rel="stylesheet" href="/styles/error.css">
  </head>

  <body>
    <%- include('includes/header') %>
      <main class="error-section">
        <h1>Not authorized!</h1>
        <p>You are not authorized to view this resource!</p>
        <p><a class="btn" href="/">Back to landing page</a></p>
      </main>
      <%- include('includes/footer') %>